$primary: #aca3a3;
$secondary: #dba007;
$light: #d9d9d9;
$dark: #343232;

body {
  background: $primary;
}

.card {
  background-color: $light;
}

.btn,
.form-control {
  background-color: $light;
  color: $dark;
  border-color: $secondary;
}

.nav-link,
.btn-primary {
  color: $dark;
  text-decoration: none;
}

.img-thumbnail {
  background-color: $secondary;
  border: none;
}

.active {
  text-decoration: overline $secondary;
}
