$primary: #aca3a3;
$secondary: #dba007;
$light: #d9d9d9;
$dark: #343232;

body {
  background: $primary;
}

.card {
  background-color: $light;
}

.btn,
.form-control {
  background-color: $light;
  color: $dark;
  border-color: $secondary;

  &:hover {
    background-color: $secondary;
    border-color: $primary;
  }
}

.nav-link,
.btn-primary {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: $dark;
    text-decoration: overline $dark;
  }
}

.img-thumbnail {
  background-color: $secondary;
  border: none;
}

.active {
  text-decoration: overline $dark;
}
